@model IEnumerable<DiscussionThread.Models.Discussion>

<div class="text-center">
    <h1>Welcome to the Discussion Forum</h1>
    <h1>Dive Into Anything!</h1>
</div>

<!-- Button to create a new discussion thread -->
<div class="text-center">
    <a href="@Url.Action("Create", "Discussions")" class="create-discussion-btn btn btn-danger">Create a Thread</a>
</div>

<div class="discussion-thread-list">
    @foreach (var discussion in Model)
    {
        <div class="discussion-thread card">
            @if (!string.IsNullOrEmpty(discussion.ImageFilename))
            {
                <img src="@Url.Content("~/uploads/" + discussion.ImageFilename)" alt="Discussion Image" class="discussion-image card-img-top" />
            }

            <div class="card-body">
                <h3>
                    <a asp-action="GetDiscussion" asp-controller="Home" asp-route-id="@discussion.DiscussionId">
                        @discussion.Title
                    </a>
                </h3>
                <p>@discussion.Comments.Count comments</p>
                <p>Created on: @discussion.CreateDate.ToString("yyyy-MM-dd HH:mm:ss")</p>
                <p>
                    Owner:
                    <a asp-action="Profile" asp-controller="Users" asp-route-id="@discussion.ApplicationUser.Id">
                        @discussion.ApplicationUser.Name
                    </a>
                </p>
            </div>
        </div>
    }
</div>
